body {
    text-align: center;
}

h1 {
    font-size: 40px;
}

#erty {
    font-family: sans-serif;
    width: 834px;
    height: 1527px;
    background-image: linear-gradient(lightskyblue, azure);
}

#ertyui {
    font-family: sans-serif;
    width: 834px;
    height: 527px;
    background-image: linear-gradient(darkgreen, lime);
}

#ertyuio {
    font-family: sans-serif;
    width: 834px;
    height: 527px;
    background-image: linear-gradient(slategrey, whitesmoke)
}

.wertyui {
    height: 370px;
    width: 340px;
}
